
<div class= "mx-auto alert alert-primary mx-auto" style="width: 500px" class="shadow p-3 mb-5 bg-body rounded"Regular shadow>

<div class="container">
<h1>Stupid Coaching</h1>
<h2>Questions</h2>
</div>


<form action="/answer" data-turbo="false">
  <input type="text" name="question">
  <input type="submit" value="Ask">
</form>
</div>
